
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: inherit;
  width: inherit;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*body {*/
  /*height: 100%;*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

/*#content {*/
  /*height: 100%;*/
/*}*/

/*#content > canvas {*/
  /*margin: 0 auto;*/


  /*height: auto !important;*/
  /*width: auto !important;*/

  /*max-height: 100vh;*/
  /*max-width: 100vh;*/

  /*position: relative;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
/*}*/